{% extends 'base.html' %}
{% block body %}
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <h2 class="title is-4">{{ challenge.title }}</h2>
                    <div class="box">
                        <p>{{ challenge.requirment }}</p>
                        <br>
                        <p>
                            May be Needed:&nbsp&nbsp
                            <span class='has-text-primary'>
                            <span class="has-text-weight-semibold">
                                [{{ challenge.technology }}]
                            </span>
                            </span>
                        </p>
                        <br>
                        <p>release time: {{ challenge.release_time }}</p>
                    </div>
                    <br>
                    <h2 class="title is-4">
                        Developers Recommendation
                    </h2>
                    {% for n in name %}
                        <div class="box">
                            <h3 class="title is-5"}}>{{ n.devename }}</h3>
                            <em>{{ n.email }}</em>
                            <br>
                            <br>
                            <div class="columns is-mobile">
                                <div class="column">
                                    <a href="/developer/{{ n.deveId }}">Learn more</a>
                                </div>
                                <div class="column is-narrow">
                                    <a href="#">👍 Invite</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                    <h2 class="title is-4">Similar Tasks</h2>
                    <div class="box">
                        <h3 class="title is-5">Lynx Calendar</h3>
                        <p>Lynx Calendar has just completed the specification contest for the Lynx Calendar service application layer.</p>
                    </div>
                    <div class="box">
                        <h3 class="title is-5">Cockpit Release </h3>
                        <p>In this assembly you will start with the existing TopCoder application and
                            you will apply the changes/updates/additions that are documented in each of the issues listed here.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
{% endblock %}
