{% extends 'base.html' %}
{% block body %}
<section class="hero is-info is-light">
  <div class="hero-body">
      <div class="columns">
          <div class="column is-10 is-offset-1">
              <section class="hero landing-left">
                      <div>
                          <h3 class="title has-text-centered ">
                              <p>Find The Right Developers!</p>
                          </h3>
                      </div>
              </section>
          </div>
      </div>
      <div class="columns">
          <div class="column is-6-fullhd is-6-desktop is-6-tablet is-offset-3-fullhd is-offset-3-desktop is-offset-3-tablet"><div class="get-started-transparent">
              <div keep-first="true">
                  <div class="get-started-section">
                      <div class="field is-grouped">
                          <p class="control is-expanded">
                              <input class="input" placeholder="Search a developer">
                          </p>
                          <a class="button is-primary"> Search </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  </section>
<div class="section">
        <div class="container">
            <div class="hide track-auto" data-event-name="fp-impression"></div>
                <div class="featured-services-all">
                    <div class="columns featured-services is-multiline">

                        <div class="column featured-services__item is-half">
                            <div class="media service box">
                                <div class="media-left">
                                    <figure title="guohua" class="image is-48x48 "><a class="prefetch" href="/userguiding-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/21/2936419d9ff1/large.png?1544632825"><img width="48" height="48" class="logo" alt="UserGuiding logo" src="https://www.saashub.com/images/app/service_logos/21/2936419d9ff1/medium.png?1544632825" loading="lazy"></a></figure>
                                 </div>
                                <div class="media-content">
                                <div class="content">
                                <div class="title-columns is-gapless is-mobile">
                                <h4 class="title is-5">
                                <a class="prefetch" href="/userguiding-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/21/2936419d9ff1/large.png?1544632825">
                                guohua
                                </a>
                                </h4>
                                </div>
                                <p class="tagline">
                                <span itemprop="description">
                                huahua - good developer!
                                </span>
                                </p>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="column featured-services__item is-half">
                            <div class="media service box">
                                <div class="media-left">
                                    <figure title="qingsong" class="image is-48x48 "><a class="prefetch" href="/jitbit-helpdesk-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/9/4dd6e2f42723/large.png?1528504829"><img width="48" height="48" class="logo" alt="JitBit Helpdesk logo" src="https://www.saashub.com/images/app/service_logos/9/4dd6e2f42723/medium.png?1528504829" loading="lazy"></a></figure>
                                </div>
                                <div class="media-content">
                                <div class="content">
                                <div class="title-columns is-gapless is-mobile">
                                    <h4 class="title is-5">
                                    <a class="prefetch" href="/jitbit-helpdesk-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/9/4dd6e2f42723/large.png?1528504829">
                                    qingsong
                                    </a>
                                    </h4>
                                </div>
                                <p class="tagline">
                                    <span itemprop="description">
                                    dog is not a person, songsong is really a dog!
                                    </span>
                                </p>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="column featured-services__item is-half">
                            <div class="media service box">
                                <div class="media-left">
                                <figure title="zhengzheng" class="image is-48x48 "><a class="prefetch" href="/monday-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/9/e32b214dc550/large.png?1528742434"><img width="48" height="48" class="logo" alt="monday.com logo" src="https://www.saashub.com/images/app/service_logos/9/e32b214dc550/medium.png?1528742434" loading="lazy"></a></figure>
                                </div>
                            <div class="media-content">
                            <div class="content">
                            <div class="title-columns is-gapless is-mobile">
                                <h4 class="title is-5">
                                <a class="prefetch" href="/monday-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/9/e32b214dc550/large.png?1528742434">
                                zhengzheng
                                </a>
                                </h4>
                            </div>
                                <p class="tagline">
                                <span itemprop="description">
                                zhengzheng is going to zheda!
                                </span>
                                </p>
                            </div>
                            </div>
                            </div>
                        </div>

                        <div class="column featured-services__item is-half">
                            <div class="media service box">
                                <div class="media-left">
                                <figure title="qianli ma" class="image is-48x48 "><a class="prefetch" href="/ultrasmsscript-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/18/f262ac2ce78f/large.png?1541797967"><img width="48" height="48" class="logo" alt="UltraSMSScript logo" src="https://www.saashub.com/images/app/service_logos/18/f262ac2ce78f/medium.png?1541797967" loading="lazy"></a></figure>
                                </div>
                            <div class="media-content">
                            <div class="content">
                            <div class="title-columns is-gapless is-mobile">
                                <h4 class="title is-5">
                                <a class="prefetch" href="/ultrasmsscript-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/18/f262ac2ce78f/large.png?1541797967">
                                lili
                                </a>
                                </h4>
                            </div>
                                <p class="tagline">
                                <span itemprop="description">
                                you girl is good!
                                </span>
                                </p>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div class="column featured-services__item is-half">
                            <div class="media service box">
                                <div class="media-left">
                                    <figure title="Badboy" class="image is-48x48 "><a class="prefetch" href="/jitbit-helpdesk-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/9/4dd6e2f42723/large.png?1528504829"><img width="48" height="48" class="logo" alt="JitBit Helpdesk logo" src="https://www.saashub.com/images/app/service_logos/9/4dd6e2f42723/medium.png?1528504829" loading="lazy"></a></figure>
                                </div>
                                <div class="media-content">
                                <div class="content">
                                <div class="title-columns is-gapless is-mobile">
                                    <h4 class="title is-5">
                                    <a class="prefetch" href="/jitbit-helpdesk-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/9/4dd6e2f42723/large.png?1528504829">
                                    Badboy
                                    </a>
                                    </h4>
                                </div>
                                <p class="tagline">
                                    <span itemprop="description">
                                    where you now?
                                    </span>
                                </p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="column featured-services__item is-half">
                            <div class="media service box">
                                <div class="media-left">
                                <figure title="lingyunxiao" class="image is-48x48 "><a class="prefetch" href="/monday-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/9/e32b214dc550/large.png?1528742434"><img width="48" height="48" class="logo" alt="monday.com logo" src="https://www.saashub.com/images/app/service_logos/9/e32b214dc550/medium.png?1528742434" loading="lazy"></a></figure>
                                </div>
                            <div class="media-content">
                            <div class="content">
                            <div class="title-columns is-gapless is-mobile">
                                <h4 class="title is-5">
                                <a class="prefetch" href="/monday-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/9/e32b214dc550/large.png?1528742434">
                                Lingyunxiao
                                </a>
                                </h4>
                            </div>
                                <p class="tagline">
                                <span itemprop="description">
                                mian dui jifeng ba
                                </span>
                                </p>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div class="column featured-services__item is-half">
                            <div class="media service box">
                                <div class="media-left">
                                <figure title="qianli shen ma" class="image is-48x48 "><a class="prefetch" href="/ultrasmsscript-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/18/f262ac2ce78f/large.png?1541797967"><img width="48" height="48" class="logo" alt="UltraSMSScript logo" src="https://www.saashub.com/images/app/service_logos/18/f262ac2ce78f/medium.png?1541797967" loading="lazy"></a></figure>
                                </div>
                            <div class="media-content">
                            <div class="content">
                            <div class="title-columns is-gapless is-mobile">
                                <h4 class="title is-5">
                                <a class="prefetch" href="/ultrasmsscript-alternatives" data-prefetch="https://www.saashub.com/images/app/service_logos/18/f262ac2ce78f/large.png?1541797967">
                                qianli shenma
                                </a>
                                </h4>
                            </div>
                                <p class="tagline">
                                <span itemprop="description">
                                coming home, see you again!
                                </span>
                                </p>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="blank-space"></div>
                    <div class="blank-space"></div>
                    <div class="blank-space"></div>
                </div>
        </div>
      </div>

{% endblock %}
