{% extends 'base.html' %}
{% block body %}
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
  <section class="hero is-medium is-info is-light">
  <div class="hero-body">
      <div class="columns">
          <div class="column is-10 is-offset-1">
              <section class="hero landing-left">
                  <div>
                      <div>
                          <h1 class="title has-text-centered has-text-weight-bold">
                              <div>
                                  <span class="no-wrap"> ACT-BUAA </span>
                              </div>
                              <div>
                                  <p>Make Industy Better!</p>
                              </div>
                          </h1>
                          <h2 class="subtitle"></h2>
                      </div>
                  </div>
              </section>
          </div>
      </div>
      <div class="columns">
          <div class="column is-6-fullhd is-6-desktop is-6-tablet is-offset-3-fullhd is-offset-3-desktop is-offset-3-tablet"><div class="get-started-transparent">
              <div keep-first="true">
                      <div class="field is-grouped is-grouped-centered">
                          <form method="get" action="/search" id="searchform">
                              <input class="input" name="q" placeholder="Search a task" size="45">
                          </form>
                          <input type="submit" class="button is-primary" form="searchform" value="Search">
                          <a class="button is-primary" href="/release">发布需求</a>
                      </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  </section>
  <div class="section">
        <div class="container">
            <div class="columns" style="margin-bottom: 0px;">
                <div class="column">
                    <meta content="Find the best Sivvy alternatives based on our research Microsoft Azure Active Directory, Oracle Identity Manager, Okta, Centrify, and OneLogin." itemprop="description">
                    <div class="tabs-title no-transform">
                    <h1 class="title is-3" itemprop="name headline">Tasks List</h1>
{#                    <h2 class="subtitle">#}
{#                        Latest update:#}
{#                    <strong>#}
{#                        <time itemprop="dateModified">2020-03-11</time>#}
{#                    </strong>#}
{#                    </h2>#}
                    </div>
                </div>
                </div>
            <div class="columns">
              <main class="column">
                </h3>
                  <div class="tabs">
                    <ul>
                    <li class="is-active"><a href="#">活跃中</a></li>
                    <li><a href="#" rel="nofollow">已经完成</a></li>
                    <li><a href="#" rel="nofollow">TOP</a></li>
                    </ul>
                  </div>
                <ol class="services-list">
                    {% for challenge in page_object.object_list %}
                    <li class="box">
                        <div class="media-content">
                            <div class="content">
                                <div class="title-columns columns is-gapless is-mobile">
                                    <div class="column">
                                        <h3 class="title is-4">
                                            <a class="prefetch" href="/task/{{ challenge.chId }}"><span class="badge-verified"></span>{{challenge.title}}</a>
                                        </h3>
                                    </div>
                                </div>
{#                                <p class="tagline text-small">{{ foo.requirment }}</p>#}
                            </div>
                            <div class="columns is-mobile">
                                <div class="column">
                                    <p>viewer numbers: {{ challenge.viewer_num }}</p>
                                </div>
                                <div class="column is-narrow">
                                    <p>release time: {{ challenge.release_time }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
              <br>
                  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                      {% if page_object.has_previous %}
                          <a class="pagination-previous"
                             href="?page={{ page_object.previous_page_number }}">Previous</a>
                      {% else %}
                          <li class="is-disabled">
                              <a class="pagination-previous">Previous</a>
                          </li>
                      {% endif %}

                      {% if page_object.has_next %}
                          <a class="pagination-next" href="?page={{ page_object.next_page_number }}">Next page</a>
                      {% else %}
                          <li>
                              <a class="pagination-next">Next page</a>
                          </li>
                      {% endif %}
                      <ul class="pagination-list">
                          {% for page_index in page_range %}
                              {% ifequal page_index page_object.number %}
                                  <li><a class="pagination-link is-current" href="#" aria-label=""
                                         aria-current="page">{{ page_index }}</a></li>
                              {% else %}
                                  <li><a class="pagination-link" href="?page={{ page_index }}">{{ page_index }}</a></li>
                              {% endifequal %}
                          {% endfor %}
                      </ul>
                  </nav>
              </main>
                <aside class="column is-narrow sidebar">
                    <h3 class="title boxed-section-title is-2 text-center">&nbsp;</h3>
                    <div class="box">
                        <h5 class="title is-4">Categories</h5>
                        <ul class="sidebar-categories-list">
                        <li>
                        <a class="prefetch" href="">Identity And Access Management</a>
                        </li>
                        <li>
                        <a class="prefetch" href="">Access Control</a>
                        </li>
                        <li>
                        <a class="prefetch" href="">Security</a>
                        </li>
                        <li>
                        <a class="prefetch" href="">Onboarding Software</a>
                        </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h5 class="title is-4">Popular Categories</h5>
                        <ul class="sidebar-categories-list">
                        <li><a class="prefetch" href="">3D</a></li>
                        <li><a class="prefetch" href="">Accounting</a></li>
                        <li><a class="prefetch" href="">Action</a></li>
                        <li><a class="prefetch" href="">Adventure</a></li>
                        <li><a class="prefetch" href="">Analytics</a></li>
                        <li><a class="prefetch" href="">Blogging Platform</a></li>
                        <li><a class="prefetch" href="">CMS</a></li>
                        <li><a class="prefetch" href="">CRM</a></li>
                        </ul>
                    </div>
              </aside>
            </div>
        </div>
  </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">ACT</a>.
            </p>
        </div>
    </footer>

{% endblock %}